@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

$background-gif: 'https://apollocurrency.com/static/media/document-gif.1d30b5a0.gif';
$main-overlay: rgba(0, 0, 0, 0.7);
$overlay-color: rgb(247, 197, 89);
$font: 'Roboto Condensed', sans-serif;
$main-color: #009fff;
$text-color: #fff;

body {
  background-color: #000;
  background: url($background-gif) no-repeat center center fixed;
  background-size: cover;
  font-family: $font;
  color: $text-color;
}

#react-root {
    background-color: $main-overlay;
    min-height: 100vh;
}

.navbar-inverse {
    background-color: $main-overlay;
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
    .navbar-brand {
        color: $main-color;
    }
    .navbar-nav>li>a {
        color: #fff;
        &:hover {
            color: $main-color;
        }
    }
}

.dropdown-menu {
    background-color: $main-overlay;
    li > a {
        color: #fff;
        &:hover {
            background-color: $main-color;
            color: #000;
        }
    }
}

.agent-discoveries-logo {
  height: 100%;
  display: inline-block;
  padding-right: 8px;
}

.rm-3 {
  margin-right: 0.75rem !important;
}

.ml-3 {
  margin-left: 0.75rem !important;
}

.img-md {
  max-width: 40%;
  max-height: 40%;
}

.border-3 {
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

.login-wrapper {
    padding-top: 15vh;
}

.title {
    margin: 12vh 0;
    span {
        color: $main-color;
    }
}

.timezone > h2 > span {
    color: $main-color;
}

.message-btn {
    margin: 8vh 0 0 0;
}

.encode-form {
    margin: 12vh 0 0 0;
    transition: all .5s ease-in-out;
}

#code-result {
    margin-bottom: 12vh;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  //border: 1px solid green;
  -webkit-text-fill-color: $text-color;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control {
    background-color: transparent;
    color: $text-color;
}

textarea {
    resize: none;
}

.btn {
    background-color: transparent;
    color: #fff;
    border-color: $main-color;
    &:hover {
        background-color: $main-color;
        border-color: #000;
    }
    &:focus {
        background-color: transparent;
     }
}

.result-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel {
    background-color: transparent;
    .panel-heading {
        background-color: $main-overlay;
        color: #fff;
    }
}

.table>thead>tr>th {
    color: $main-color;
    border-bottom: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $overlay-color;
}

.overlay-action {
  width: 100%;
  height: 100%;
  
  p {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}


.img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.profile-img-container {
  position: relative;
  width: 50%;
}

.profile-img-container:hover .overlay {
  opacity: 0.8;
}

.panel-default>.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}